@import url( "https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap" )

*
    margin: 0
    padding: 0

    color: rgba( 255, 251, 254, .9 )

    box-sizing: border-box

    font-family: "Roboto Condensed", sans-serif

body, #root, #App, #Router
    width: 100vw
    height: 100vh

    display: flex
    flex-direction: column

    justify-content: center
    align-items: center

.Component
    width: 90%
    height: 90%