.Component {
  width: 90%;
  height: 90%;
  padding: 10px;
  background-color: #2F2F2F;
  -webkit-box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.3);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
}

.Header {
  width: 100%;
  margin-bottom: -5px;
  text-align: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.HeadingText {
  text-shadow: 2px 2px 4px black;
}

nav {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

nav .NavButton {
  padding: 5px;
  background-color: #2F2F2F;
  border: none;
  -webkit-box-shadow: 0px 0px 3px 2px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 0px 3px 2px rgba(0, 0, 0, 0.3);
}
